<section class="about-us-section section" id="about-us">
  <div class="container">
    <h2 class="section-title">About <span class="title-accent">us</span></h2>
    <p class="section-info">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-wrapper">
      <ol class="about-list card-set">
        <li class="about-list-el card-set-item">
          Expert, innovative teaching staff
        </li>
        <li class="about-list-el card-set-item">
          Wide range of course levels and options
        </li>
        <li class="about-list-el card-set-item">
          Multicultural learning environment
        </li>
        <li class="about-list-el card-set-item">
          Comprehensive language support services
        </li>
      </ol>
    </div>
  </div>
</section>
