<div class="dev-backdrop is-hidden" data-dev-modal>
  <div class="dev-modal">
    <button class="dev-modal-btn" data-dev-modal-close>
      <svg class="dev-modal-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="dev-modal-title">
      Meet our <span class="dev-title-accent">developers</span> team
    </h2>

    <ul class="dev-modal-list">
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Олексій Мироненко</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            class="dev-modal-img"
            src="./images/dev-team/Oleksiy_Myronenko.jpg"
            alt="Oleksiy Myronenko"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Наталія Ходорова</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Nataliia_Khodorova.jpg"
            alt="Nataliia Khodorova"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Максим Зиза</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Maksym_Zyza.jpeg"
            alt="Maksym Zyza"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Максим Лесковець</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Maksym_Leskovets.jpg"
            alt="Maksym Leskovets"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Максим Норіцин</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Maksym_Noritsyn.jpeg"
            alt="Maksym Noritsyn"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Дмитро Яговкін</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Dmytro_Zhuk.png"
            alt="Dmytro Yahovkin"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Дмитро Жук</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Dmytro_Zhuk.png"
            alt="Dmytro Zhuk"
            loading="lazy"
          />
        </div>
      </li>

      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Олена Горобець</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Olena_Horobets.jpg"
            alt="Olena Horobets"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Лариса Інджі</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Larysa_Indzhi.JPG"
            alt="Larysa Indzhi"
            loading="lazy"
          />
        </div>
      </li>
      <li class="dev-modal-item">
        <p class="dev-modal-subtitle">Денис Лєнський</p>
        <div class="dev-img-wrapper">
          <img
            width="100"
            src="./images/dev-team/Denys_Lienskyi.jpg"
            alt="Denys Lienskyi"
            loading="lazy"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
