<div class="dev-backdrop is-hidden" data-dev-modal>
  <div class="dev-modal hidden" data-dev-content>
    <div class="dev-modal-scroll">
      <button class="dev-modal-btn" data-dev-modal-close>
        <svg class="dev-modal-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
  
      <h2 class="dev-modal-title">
        Meet our <span class="title-accent">developers</span> team
      </h2>
  
      <ul class="dev-modal-list">
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Олексій<br />Мироненко</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Oleksiy_Myronenko.webp"
            alt="Oleksiy Myronenko"
            loading="lazy"
          />
          <p class="dev-modal-position">Team Lead</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Наталія<br />Ходорова</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Nataliia_Khodorova.webp"
            alt="Nataliia Khodorova"
            loading="lazy"
          />
          <p class="dev-modal-position">Scrum Master</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Максим<br />Зиза</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Maksym_Zyza.webp"
            alt="Maksym Zyza"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Максим<br />Лесковець</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Maksym_Leskovets.webp"
            alt="Maksym Leskovets"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Максим<br />Норіцин</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Maksym_Noritsyn.webp"
            alt="Maksym Noritsyn"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Дмитро<br />Яговкін</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Dmytro_Yagovkin.webp"
            alt="Dmytro Yahovkin"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Дмитро<br />Жук</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/dmytro_zhuk.webp"
            alt="Dmytro Zhuk"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Олена<br />Горобець</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Olena_Horobets.webp"
            alt="Olena Horobets"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Лариса<br />Інджі</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Larysa_Indzhi.webp"
            alt="Larysa Indzhi"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
        <li class="dev-modal-item">
          <p class="dev-modal-subtitle">Денис<br />Лєнський</p>
          <img
            width="80"
            height="80"
            class="dev-modal-img"
            src="./images/dev-team/Denys_Lienskyi.webp"
            alt="Denys Lienskyi"
            loading="lazy"
          />
          <p class="dev-modal-position">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
