<footer class="footer" id="footer">
  <div class="container">
    <a class="logo link logo-english" href="./index.html"
      >english<span class="logo logo-excellence">excellence.</span>
    </a>

    <address class="contacts">
      <ul class="list contacts-list">
        <li>
          Phone number:
          <a href="tel:+110001111111" class="contacts-link link"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li>
          Address:
          <a href="" class="contacts-link link">32a M. Bazhana ave</a>
        </li>
      </ul>
    </address>

    <ul class="list">
      <li class="">
        <a class="link" href="#about-us">About us</a>
      </li>
      <li class="">
        <a class="link" href="#our-lessons">Our lessons</a>
      </li>
      <li class="">
        <a class="link" href="#our-teachers">Teachers</a>
      </li>
      <li class="">
        <a class="link" href="#reviews">Reviews</a>
      </li>
      <li class="">
        <a class="link" href="#form-section">Contact us</a>
      </li>
    </ul>

    <ul class="list">
      <li class="contact-icon-li">
        <a
          class="contact-icon-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="contact-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="contact-icon-li">
        <a
          class="contact-icon-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="contact-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="contact-icon-li">
        <a
          class="contact-icon-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="contact-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div>
      <p>©2023 English Excellence. All rights reserved.</p>
      <a href="">Privacy Policy</a><a href="">Terms of Service</a>
    </div>
  </div>
</footer>
