<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div>
        <a
          class="logo link logo-english"
          href="./index.html"
          aria-label="Go to main page"
          >english<span class="logo logo-excellence">excellence.</span>
        </a>
        <address class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <p class="footer-contacts-text">Phone number:</p>
              <a href="tel:+380684439426" class="footer-contacts-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <p class="footer-contacts-text">Address:</p>
              <a
                href="https://www.google.com/maps/place/Mykoly+Bazhana+Ave,+32,+Kyiv,+Ukraine,+02000/@50.3984073,30.6461087,17z/data=!4m15!1m8!3m7!1s0x40d4c450e050c6e9:0x5905a2a0d61a37a0!2sMykoly+Bazhana+Ave,+32,+Kyiv,+Ukraine,+02000!3b1!8m2!3d50.3984039!4d30.6486836!16s%2Fg%2F1tq6hldn!3m5!1s0x40d4c450e050c6e9:0x5905a2a0d61a37a0!8m2!3d50.3984039!4d30.6486836!16s%2Fg%2F1tq6hldn?entry=ttu"
                class="footer-contacts-link"
                target="_blank"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#about-us">About us</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#our-lessons">Our lessons</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#our-teachers">Teachers</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#form-section">Contact us</a>
        </li>
      </ul>

      <ul class="socials-list">
        <li class="socials-item">
          <a
            class="socials-link"
            href="https://www.facebook.com/goITclub/"
            aria-label="Go to our facebook page"
            target="_blank"
          >
            <svg class="socials-icon" width="28" height="28">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a
            class="socials-link"
            href="https://www.instagram.com/goitclub/"
            aria-label="Go to our instagram page"
            target="_blank"
          >
            <svg class="socials-icon" width="28" height="28">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a
            class="socials-link"
            href="https://www.youtube.com/c/GoIT"
            aria-label="Go to our youtube page"
            target="_blank"
          >
            <svg class="socials-icon" width="28" height="28">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="copyright">
      <p class="copyright-text">
        ©2023 English Excellence. All rights reserved.
      </p>
      <ul class="copyright-list">
        <li class="copyright-item">
          <a href="./index.html" class="copyright-link">Privacy Policy</a>
        </li>
        <li class="copyright-item">
          <a href="./index.html" class="copyright-link">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
