<footer class="footer" id="footer">
  <div class="container footer-container">
    <a class="logo link logo-english" href="./index.html"
      >english<span class="logo logo-excellence">excellence.</span>
    </a>

    <address class="footer-contacts">
      <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
          <p class="footer-contacts-text">Phone number:</p>
          <a href="tel:+380684439426" class="footer-contacts-link"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="footer-contacts-item">
          <p class="footer-contacts-text">Address:</p>
          <a href="" class="footer-contacts-link">32a M. Bazhana ave</a>
        </li>
      </ul>
    </address>

    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#about-us">About us</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#our-lessons">Our lessons</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#our-teachers">Teachers</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#form-section">Contact us</a>
      </li>
    </ul>

    <ul class="socials-list">
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="copyright">
      <p class="copyright-text">
        ©2023 English Excellence. All rights reserved.
      </p>
      <ul class="copyright-list">
        <li class="copyright-item">
          <a href="" class="copyright-link">Privacy Policy</a>
        </li>
        <li class="copyright-item">
          <a href="" class="copyright-link">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
