<section class="">
  <div class="container">
    <h2 class="application__title">Leave an <span class="title-accent">application</span></h2>
    <p>Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
    <div class="application__about">
      <img 
      srcset="../images/form_section/happy_girl.jpg 1x, ../images/form_section/happy_girl@2x.jpg 2x" 
      src="../images/form_section/happy_girl.jpg" 
      class=""
      alt="Girl in headphones" 
      width="597" 
      height="537" />
      <p>1000</p>
      <p>of our online English language lessons! This journey has been full of discovery, growth and unforgettable moments, and
      we are happy to share this joyful event with you.</p>
    </div>
    <form action="">
      <input type="text">
      <input type="email">
      <input type="tel">
      <textarea name="" id="" rows="5"></textarea>
      <h3>Choose a teacher</h3>
      <input name="choice" type="radio" id="teacher1">
      <label for="teacher1">Maria</label>
      <input name="choice" type="radio" id="teacher2">
      <label for="teacher2">Artem</label>
      <input name="choice" type="radio" id="teacher3">
      <label for="teacher3">Ilona</label>
      <input name="choice" type="radio" id="teacher4">
      <label for="teacher4">Volodymyr</label>
      <button type="submit">Send</button>
      <p>
        By clicking on “Send” button, you agree to our <a class="" href="" target="_blank" rel="noopener noreferrer">Privacy Policy</a>,
      and allow Promodo to use this information for marketing purposes.
    </p>
    </form>
  </div>
</section>