<section class="section">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-text">
        Discover the joy of learning<span class="hero-text-part"> English </span
        >with us!
      </h1>
      <a class="hero-link" href="#form-section">Leave an application</a>

      <a class="hero-icon" href="#footer" aria-label="Go to end of the page">
        <svg class="icon-arrow" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </a>

      <button class="toggle-theme-btn" type="button" title="Toggle theme">
        <svg class="icon-theme icon-theme-moon" width="25" height="25">
          <use href="./images/icons.svg#icon-moon"></use>
        </svg>
        <svg class="icon-theme icon-theme-sun is-none" width="25" height="25">
          <use href="./images/icons.svg#icon-sun"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
