<section class="section" id="our-lessons">
  <div class="container lessons">
    <h2 class="lessons__title">Our <span class="title-accent">Lessons</span></h2>
    <p class="lessons__info">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world scenarios
    </p>
    <ul class="lessons__list">
      <li class="lessons__plan">
        <div>
          <h3 class="lessons__name">Practice</h3>
          <p class="lessons__price">40$ / month</p>
          <p class="lessons__description">
            This plan offers an opportunity for learners to engage in
            collaborative language exercises and group activities, boosting their
            conversational skills and confidence in using English.
          </p>
        </div>
        <a href="#form-section" class="lessons__button">Leave an application</a>
      </li>
      <li class="lessons__plan standart">
        <div>
          <h3 class="lessons__name">Standard</h3>
          <p class="lessons__price">70$ / month</p>
          <p class="lessons__description">
            Our standard package provides a balanced learning approach that covers
            all key areas of English language - reading, writing, listening, and
            speaking. It is a set of basic knowledge and skills.
          </p>
        </div>
        <a href="#form-section" class="lessons__button">Leave an application</a>
      </li>
      <li class="lessons__plan">
        <div>
          <h3 class="lessons__name">Individual</h3>
          <p class="lessons__price">99$ / month</p>
          <p class="lessons__description">
            We offer a tailored learning experience with individualized
            instruction that focuses on a learner's specific language goals and
            challenges, offering personal feedback.
          </p>
        </div>
        <a href="#form-section" class="lessons__button">Leave an application</a>
      </li>
    </ul>
  </div>
</section>
