<section class="section">
  <div class="container teachers" id="our-teachers">
    <h2 class="teachers__title">
      Meet our <span class="title-accent">teachers</span>
    </h2>
    <p class="teachers__info">
      Discover our team of dedicated educators, committed to guiding you on your
      jorney to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers__list list">
      <li class="teachers__team">
        <img
          srcset="./images/teacher1-2.jpg 1x, ./images/teacher1@2x-2.jpg 2x"
          src="./images/teacher1-2.jpg"
          class="teacher__image"
          alt="Maria"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teacher">Maria</h3>
        <p class="teachers_subtitle">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers__team">
        <img
          srcset="./images/teacher2-2.jpg 1x, ./images/teacher2@2x-2.jpg 2x"
          src="./images/teacher2-2.jpg"
          class="teacher__image"
          alt="Artem"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teacher">Artem</h3>
        <p class="teachers_subtitle">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers__team">
        <img
          srcset="./images/teacher3-2.jpg 1x, ./images/teacher3@2x-2.jpg 2x"
          src="./images/teacher3-2.jpg"
          class="teacher__image"
          alt="Ilona"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teacher">Ilona</h3>
        <p class="teachers_subtitle">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers__team">
        <img
          srcset="./images/teacher4-2.jpg 1x, ./images/teacher4@2x-2.jpg 2x"
          src="./images/teacher4-2.jpg"
          class="teacher__image"
          alt="Volodymyr"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teacher">Volodymyr</h3>
        <p class="teachers_subtitle">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
