<section class="container teachers">
  <h2 class="teachers_title">Meet our <span class="title-accent">teachers</span></h2>
  <p class="teachers_title_info">Discover our team of dedicated educators, committed to guiding you on your jorney to
    English
    proficiency with personalized and engaging instruction</p>
  <ul class="teachers_list">
    <li class="teachers_team">

      <img src="./images/teacher1.jpg" class="teacher_image" alt="Maria" width="150" height="150" />
      <h3 class="teachers_subtitle">Maria</h3>
      <p class="teachers_subtitle-info">A seasoned linguist and our primary specialist in beginner-level instruction,
        Maria
        brings warmth and patience to every class</p>

    </li>
    <li class="teachers_team">

      <img src="./images/teacher2.jpg" class="teacher_image" alt="Artem" width="150" height="150" />
      <h3 class="teachers_subtitle">Artem</h3>
      <p class="teachers_subtitle-info">With his innovative teaching techniques and a focus on interactive learning,
        Artem
        excels in keeping students engaged and motivated</p>

    </li>
    <li class="teachers_team">

      <img src="./images/teacher3.jpg" class="teacher_image" alt="Ilona" width="150" height="150" />
      <h3 class="teachers_subtitle">Ilona</h3>
      <p class="teachers_subtitle-info">A specialist in advanced English, Ilona provides intensive instruction, ensuring
        students gain confidence in complex language tasks</p>

    </li>
    <li class="teachers_team">

      <img src="./images/teacher4.jpg" class="teacher_image" alt="Volodymyr" width="150" height="150" />
      <h3 class="teachers_subtitle">Volodymyr</h3>
      <p class="teachers_subtitle-info">Our expert in English for specific purposes, Volodymyr tailors his approach to
        meet
        individual career and industry-specific language needs</p>

    </li>
  </ul>
</section>