<section class="container teachers">
  <h2 class="teachers__title">Our <span class="title-accent">Teachers</span></h2>
  <p class="teachers__info">Discover our team of dedicated educators, committed to guiding you on your jorney to English proficiency with personalized and engaging instruction</p>
  <ul class="teachers__list">
    <li class="teachers__team">
     
<img
          srcset="./images/teacher1-2 1x, ./images/teacher1@2x-2 2x"
          src="./images/teacher1.jpg"
          class="teacher__image"
          alt="Maria"
          width="150"
          height="150"
        />
        <h3 class="teacher1">Maria</h3>
        <p class="teachers_subtitle">A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class</p>
      
    </li>
    <li class="teachers__team">
      
<img
          srcset="./images/teacher2-2 1x, ./images/teacher2@2x-2 2x"
          src="./images/teacher2.jpg"
          class="teacher__image"
          alt="Artem"
          width="150"
          height="150"
        />
        <h3 class="teacher2">Artem</h3>
        <p class="teachers_subtitle">With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated</p>
    
    </li>
    <li class="teachers__team">
     
<img
          srcset="./images/teacher3-2 1x, ./images/teacher3@2x-2 2x"
          src="./images/teacher3.jpg"
          class="teacher__image"
          alt="Ilona"
          width="150"
          height="150"
        />
        <h3 class="teacher3">Ilona</h3>
        <p class="teachers_subtitle">A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks</p>
      
    </li>
    <li class="teachers__team">
      
<img
          srcset="./images/teacher4-2 1x, ./images/teacher4@2x-2 2x"
          src="./images/teacher4.jpg"
          class="teacher__image"
          alt="Volodymyr"
          width="150"
          height="150"
        />
        <h3 class="teacher3">Volodymyr</h3>
        <p class="teachers_subtitle">Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs</p>
      
    </li>
</section>