<section class="proposal">
  <div class="container">
    <strong class="strong-text"
      >Master the <span class="highlight">Language</span> with Our English
      Package!
    </strong>
    <div class="main-container">
      <h2 class="list-name">Power of English</h2>
      <ul class="list-cards">
        <li class="card-item">
          Dive into captivating lessons designed to stimulate your curiosity.
        </li>
        <li class="card-item">
          Learn in a nurturing setting where every student's progress matters.
        </li>
        <li class="card-item">
          Experience the satisfaction of real progress as your language skills
          and confidence grow with every session.
        </li>
      </ul>
      <a href="#" class="leave-app">Leave an application</a>
    </div>
  </div>
</section>
