<section class="proposal">
  <div class="container">
    <strong class="strong-text"
      >Master the <span class="highlight">Language</span> with Our English
      Package!
    </strong>
    <div class="cards-container">
      <div class="main card-thumb">
        <h2 class="list-name">Power of English</h2>
        <ul class="list-cards">
          <li class="card-item">
            <p class="card-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="card-item">
            <p class="card-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="card-item">
            <p class="card-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a href="#form-section" class="leave-app">Leave an application</a>
      </div>
      <div class="back card-thumb"></div>
      <div class="back-back card-thumb"></div>
    </div>
  </div>
</section>
