<section class="section" id="reviews">
<div class="container reviews">
  <h2 class="reviews__title">
    What our <span class="title-accent">students </span>say
  </h2>
  <p class="reviews__info">
    Hear from our students about their learning journey with us, as they share
    their experiences, progress, and the transformative impact
  </p>
  <ul class="reviews__list">
    <li class="reviews__element">
      <div class="reviews__student">
        <img
          srcset="./images/reviews1.jpg 1x, ./images/reviews1@2x.jpg 2x"
          src="./images/reviews1.jpg"
          class="reviews__image"
          alt=""
          width="50"
          height="50"
        />
        <div class="reviews__text_cont">
          <span class="reviews__student_name">Anna</span>
          <span class="reviews__student_title">Student</span>
        </div>
      </div>
      <p class="reviews__text">
        My experience at the language school has been nothing short of amazing.
        The teachers are dedicated and the learning environment is stimulating.
        I feel more confident in my English skills.
      </p>
    </li>
    <li class="reviews__element">
      <div class="reviews__student">
        <img
          srcset="./images/reviews2.jpg 1x, ./images/reviews2@2x.jpg 2x"
          src="./images/reviews2.jpg"
          class="reviews__image"
          alt=""
          width="50"
          height="50"
        />
        <div class="reviews__text_cont">
          <span class="reviews__student_name">Mykhailo</span>
          <span class="reviews__student_title">Student</span>
        </div>
      </div>
      <p class="reviews__text">
        The school offers a great balance of language theory and practical
        exercises. The personalized feedback from the teachers has helped me
        improve my weak areas.
      </p>
    </li>
    <li class="reviews__element">
      <div class="reviews__student">
        <img
          srcset="./images/reviews3.jpg 1x, ./images/reviews3@2x.jpg 2x"
          src="./images/reviews3.jpg"
          class="reviews__image"
          alt=""
          width="50"
          height="50"
        />
        <div class="reviews__text_cont">
          <span class="reviews__student_name">Victoria</span>
          <span class="reviews__student_title">Student</span>
        </div>
      </div>
      <p class="reviews__text">
        I love the dynamic and interactive teaching methods used here. It's a
        great place to learn English in a fun and effective way. I have
        definitely seen a big improvement in my language skills.
      </p>
    </li>
  </ul>
</div>
</section>
