<div class="backdrop is-hidden" data-modal-teachers>
    <div class="modal">
        <button type="button" class="modal__button-close" data-modal-teachers-close>
            <svg class="modal__close-icon" width="32" height="32">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="teachers-menu-container">
            <div class="teachers-modal-header">
                <img srcset="./images/teacher1-2.jpg 1x, ./images/teacher1@2x-2.jpg 2x" src="./images/teacher1-2.jpg"
                    class="teachers__image__modal" alt="Maria" width="75" height="75">
                <div class="teachers__greeting__container">
                    <p class="teachers__title__modal">Hello, I'm Maria</p>
                    <p class="teachers__greeting__content">Your personal coach in English for Beginners</p>
                </div>
            </div>
            <div class="modal-body">
                <p class="teachers-credentials">
                    I will provide you with detailed feedback and additional learning tips for your language training.
                    Post any questions you have in the chat. I or one of my colleagues will get back to you straight
                    away.
                </p>
                <p class="teachers-credentials-title">
                    About me
                </p>
                <p class="teachers-credentials">
                    Soy de Barcelona, España. Actualmente estoy viviendo en Alemania pero también estuve dos años en
                    Italia. Me
                    gusta mucho
                    vivir en otros países para poder conocer mejor el país. Desde que terminé la universidad he estado
                    trabajando
                    de
                    profesora de español y de catalán para extranjeros.</p>

                <div class="teachers-modal-footer">
                    <div class="teachers-raiting">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>

                    <a class="intercom-launcher" href="https://www.edu.goit.global/uk/upsell" rel="noopener noreferrer"
                        aria-label="Place a call" target="_blank">
                        <svg class="intercom-launcher-icon" width="28" height="28">
                            <use href="../images/icons.svg#icon-bubbles"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>