/* start local variables */
.about-us-section {
    --padding-for-memoji-image: 70px;
}
/* end local variables */

.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .about-wrapper {
        gap: 32px;
        width: 704px;
        flex-direction: column;
    }
}
@media only screen and (min-width: 1280px) {
    .about-wrapper {
        width: 1024px;
        flex-direction: row;
    }
}

.about-wrapper::after {
    content: "";
    border-radius: 30px;
    background: var(--logo-color);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    background-image: url('../images/memoji8.webp');
    will-change: background-position;
    animation: changeBg 10s ease-in-out infinite normal;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .about-wrapper::after {
        background-image: url('../images/memoji8@2x.webp');
    }
}

@keyframes changeBg{
    0%,20%  {
        background-position: center var(--padding-for-memoji-image);
    }
    30%,70% {
        background-position: center bottom var(--padding-for-memoji-image);
    }
    80%,100%  {
        background-position: center var(--padding-for-memoji-image);
    }
}

@media only screen and (min-width: 768px) {
    .about-wrapper::after {
        --padding-for-memoji-image: 35px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-wrapper::after {
        --padding-for-memoji-image: 90px;
    }
}

@media only screen and (max-width: 767px) {
    .about-wrapper::after {
        height: 313px;
        flex-shrink: 0;
        display: block;
        min-width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .about-wrapper::after {
        height: 243px;
        flex-shrink: 0;
        flex-grow: 1;
        display: block;
        min-width: 100%;
    }
}
@media only screen and (min-width: 1280px) {
    .about-wrapper::after {
        min-height: 100%;
        flex-grow: 1;
        display: flex;
    }
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: el-counter 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    --indent-col: 20px;
    --indent-row: 20px;
    --card-items: 1;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .about-list {
        width: 704px;
        --indent-col: 32px;
        --indent-row: 32px;
        --card-items: 2;
    }
}


.about-list-el::before {
    content: "0" counter(el-counter);
    counter-increment: el-counter;
    display: block;
    margin-bottom: 16px;
    /* text */
    color: var(--logo-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14em;
    letter-spacing: -0.56px;
}

.about-list-el {
    /* text */
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.20em;
    letter-spacing: -0.4px;
    /* location */
    padding: 32px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--gray-color);
}

