html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--white-color);
  cursor: default;
}

.section {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .section {
    margin-bottom: 150px;
  }
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 64px;
    max-width: 1152px;
  }
}

/* Green underline element for titles */
/* Example:
    <h2 class="about-us__title">About <span class="title-accent">Us</span></h2> */
.title-accent {
  position: relative;
}

.title-accent::before {
  position: absolute;
  top: 65%;
  left: 0;
  display: block;
  width: 100%;
  height: 12px;
  content: '';
  border-radius: 8px;
  z-index: -1;
  background-color: var(--accent-color);
}

@media (min-width: 768px) {
  .title-accent::before {
    height: 20px;
    top: 60%;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-row);
  column-gap: var(--indent-col);
}

.card-set-item {
  flex-basis: calc(
    (100% - var(--indent-col) * (var(--card-items) - 1)) / var(--card-items)
  );
}

.section-title {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 1.2em;
  }
}

.section-info {
  margin-bottom: 40px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.714em;
  text-align: center;
}
@media (min-width: 768px) {
  .section-info {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.67em;
  }
}
@media (min-width: 1280px) {
  .section-info {
    margin: 0 auto 64px;
    width: 665px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}