.lessons__title {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .lessons__title {
    font-size: 40px;
    line-height: 1.2em;
  }
}

.lessons__info {
  margin-bottom: 40px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.174em;
  text-align: center;
}

@media (min-width: 768px) {
  .lessons__info {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.67em;
  }
}

@media (min-width: 1280px) {
  .lessons__info {
    margin: 0 auto 64px;
    width: 665px;
  }
}

.lessons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}

@media (min-width: 768px) {
  .lessons__list {
    gap: 32px;
  }
}

.lessons__plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  min-height: 400px;
  padding: 40px 20px;
  border-radius: 16px;
  border: 1px solid var(--logo-color);
  background-color: var(--white-color);
}

.lessons__plan.standart {
  background-color: var(--logo-color);
}

@media (min-width: 768px) {
  .lessons__plan {
    gap: 32px;
    padding: 32px 16px;
    width: calc((100% - 32px) / 2);
  }
}

@media (min-width: 1280px) {
  .lessons__plan {
    padding: 32px;
    width: calc((100% - 64px) / 3);
  }
}

.lessons__name {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  text-align: center;
}

.lessons__price {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  text-align: center;
}

@media (min-width: 768px) {
  .lessons__price {
    margin-bottom: 32px;
    line-height: 1.375em;
  }
}

@media (min-width: 1280px) {
  .lessons__price {
    margin-bottom: 16px;
  }
}

.lessons__description {
  font-size: 14px;
  line-height: 1.714em;
  color: var(--text-color);
  text-align: center;
}

@media (min-width: 768px) {
  .lessons__description {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.standart .lessons__description {
  color: var(--pale-color);
}

.lessons__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 52px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.714em;
  color: var(--white-color);
  background-color: var(--logo-color);
  border-radius: 12px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .lessons__button {
    min-height: 60px;
    font-size: 18px;
    line-height: 1.55em;
  }
}

.standart .lessons__button {
  border: 1px solid var(--dark-gray-color);
}

.standart .lessons__name,
.standart .lessons__price,
.standart .lessons__button {
  color: var(--white-color);
}