.proposal {
  padding-bottom: 80px;
}
.proposal .container {
  position: relative;
  border-radius: 16px;
  background: linear-gradient(85deg, #4dc262 2.25%, #bee8cc 131.25%);
  max-width: 335px;
  margin: 0px auto;
  overflow: hidden;
  padding-bottom: 40px;
}
@media screen and (max-width: 767.98px) {
  .proposal .container {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 768px) {
  .proposal .container {
    max-width: 704px;
    border-radius: 30px;
  }
}
@media screen and (min-width: 992px) {
  .proposal .container {
    max-width: 1152px;
  }
}

.proposal .strong-text {
  display: inline-block;
  color: var(--white-color);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.05em;
  margin: 40px 0;
}
@media screen and (min-width: 768px) {
  .proposal .strong-text {
    font-size: 60px;
    font-style: normal;
    line-height: 1.17;

    margin-top: 64px;
    padding: 0 2px;
  }
}

.proposal .highlight {
  color: var(--accent-color);
}

.proposal .cards-container {
  position: relative;
  max-width: 367px;
  padding: 36px 25px;
  margin: 0px -37px 0px -35px;
}
@media screen and (min-width: 768px) {
  .proposal .cards-container {
    max-width: 754px;
    padding: 36px 25px;
    margin: 0px -50px 0px -60px;
  }
}

.proposal .card-thumb {
  position: relative;
  width: 100%;
  border-radius: 16px;
  max-width: 295px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .proposal .card-thumb {
    max-width: 668px;
  }
}

.proposal .main.card-thumb {
  z-index: 2;
  background-color: var(--white-color);
  padding: 40px 21px 40px 19px;
}
@media screen and (min-width: 768px) {
  .proposal .main.card-thumb {
    padding: 65px 0px 63px 32px;
  }
}

.proposal .list-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .proposal .list-name {
    font-size: 40px;
    margin-bottom: 32px;
  }
}

.proposal .card-item {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .proposal .card-item {
    font-size: 20px;
    gap: 16px;
    margin-bottom: 16px;
  }
}

.proposal .card-item::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.6667 5L7.50001 14.1667L3.33334 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-color: var(--logo-color);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .proposal .card-item::before {
    width: 28px;
    height: 28px;
    background-size: 20px 20px;
  }
}

.proposal .card-item .card-text {
  display: inline-block;
  width: calc(100% - 28px);
}
@media screen and (min-width: 768px) {
  .proposal .card-item .card-text {
    width: 405px;
  }
}

.proposal .leave-app {
  display: block;
  border-radius: 12px;
  background: var(--logo-color);

  padding: 14px 58px;

  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.71;
}
@media screen and (max-width: 767.98px) {
  .proposal .leave-app {
    min-width: 255px;
  }
}
@media screen and (min-width: 768px) {
  .proposal .leave-app {
    font-size: 20px;
    padding: 16px 54px;
    width: 306px;
  }
}

.proposal .list-cards {
  margin-bottom: 16px;
}

.proposal .back.card-thumb {
  position: absolute;
  height: calc(100% - 72px);
  width: calc(100% - 50px);
  top: 36px;
  left: 36px;
  z-index: 1;
  background-color: var(--light-green-color);
  transform: rotate(-9deg);
}

.proposal .back-back.card-thumb {
  position: absolute;
  height: calc(100% - 72px);
  width: calc(100% - 50px);
  top: 36px;
  left: 36px;
  z-index: 0;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(11deg);
}

#proposal-books-img {
  display: none;
}
@media screen and (min-width: 768px) {
  #proposal-books-img {
    display: block;
    position: absolute;
    width: 214px;
    top: 174px;
    right: -51px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }
}
