.reviews__title {
  color: var(--primary-color);
  text-align: center;
  font-size: 32px;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .reviews__title {
    font-size: 40px;
    line-height: 1.2em;
  }
}

.reviews__info {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;

  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .reviews__info {
    font-size: 18px;
    line-height: 1.67em;

    margin: 0 auto 64px;
    max-width: 647px;
  }
}

.reviews__list {
  display: flex;
}

.reviews__element {
  width: 335px;
  height: 278px;

  border-radius: 16px;
  background: var(--gray-color);

  display: flex;
  flex-direction: column;

  padding: 20px;
}

@media (max-width: 374px) {
  .reviews__element {
    max-width: 280px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .reviews__element {
    width: 336px;
    height: 326px;
    border-radius: 30px;

    padding: 32px 16px;
  }
}

@media (min-width: 1280px) {
  .reviews__element {
    width: 320px;
  }
}

.reviews__element:nth-child(2),
.reviews__element:nth-child(3) {
  display: none;
}

@media (min-width: 768px) {
  .reviews__element:nth-child(2) {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .reviews__element:nth-child(3) {
    display: flex;
  }
}

.reviews__image {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.reviews__student {
  height: 78px;
  border-radius: 8px;
  background: var(--logo-color);

  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
}

@media (min-width: 768px) {
  .reviews__student {
    padding: 14px 16px;
    border-radius: 15px;
  }
}

.reviews__text_cont {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviews__student_name {
  color: var(--white-color);
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.reviews__student_title {
  color: var(--dark-gray-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3em;
}

.reviews__text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;

  padding: 20px 14px;
}

@media (min-width: 768px) {
  .reviews__text {
    padding: 32px 16px 8px;
    font-size: 16px;
    line-height: 1.5em;
  }
}

/* SLIDER CSS */

#reviews .swiper-pagination {
  margin-top: 10px;
}

#reviews .swiper-slide {
  margin: 0;
  padding: 0;
}

@media (min-width: 1280px) {
  .swiper-slide {
    width: 320px !important;
  }
}

#reviews .reviews {
  position: relative;
}

#reviews .swiper-pagination-container {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  text-align: center;
}

#reviews .swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: transparent !important;
  border: 1px solid var(--green-color) !important;
  opacity: 0.7 !important;
}

#reviews .swiper-pagination-bullet-active {
  background-color: var(--green-color) !important;
  opacity: 1 !important;
}
