:root {
  --primary-color: #121417;
  --text-color: rgba(18, 20, 23, 0.5);
  --logo-color: #4DC274;
  --light-green-color: #D4FDE1;
  --accent-color: #BEE8CC;
  --gray-color: #F3F5F6;
  --white-color: #FFF;
  --primary-font-family: 'Manrope', sans-serif;
}